services:
  elliot:
    image: valentinschabschneider/elliot:compression-test
    build: .
    environment:
      NODE_ENV: development
      REDIS_URL: redis://redis:6379
      BROWSERLESS_ENDPOINT: ws://browserless:3000/chromium
      ENABLE_DASHBOARDS: true
    ports:
      - 3000:3000
    depends_on:
      - redis
      - browserless

  redis:
    image: redis:7.4-alpine

  browserless:
    image: ghcr.io/browserless/chromium:v2.31.0
    ports:
      - 4000:3000
